In [1]:
import sys
import pandas as pd
import numpy as np
print(sys.executable)
print("pandas", pd.__version__)
print("numpy", np.__version__)

df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]})
df.describe()

c:\Users\cyan\projects\week01_eda_project\venv\Scripts\python.exe
pandas 2.3.3
numpy 2.3.4

         a    b
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0